<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<tissue>
  <global>
    <deltat>0.002</deltat>
    <types>
      <celltype1/>
      <celltype2/>
      <celltype3/>
    </types>
    <itissue>
      <ncellsx>30</ncellsx>
      <ncellsy>25</ncellsy>
      <backgroundcells>celltype1</backgroundcells>
      <square t="celltype2" ix="16" iy="13" sizex="8" sizey="7"/>
      <square t="celltype3" ix="0" iy="0" sizex="2" sizey="2"/>
      <file f=""/>
    </itissue>
    <AllowT1C2/>
  </global>
  <stages>
    <stage order="1" duration="30" intermediate="10000">
      <proteins/>
            <mechanics/>
    </stage>
    <stage order="2" duration="100" intermediate="10000">
      <mechanics/>
      <growth/>
      <proteins/>
    </stage>
  </stages>
  <potentials>
    <potential stage="all">
      <KAPPA t="celltype1">1.</KAPPA>
      <KAPPA t="celltype2">1.</KAPPA>
      <KAPPA t="celltype3">1.</KAPPA>
      <LAMBDA t1="celltype1" t2="celltype1">0.04</LAMBDA>
      <LAMBDA t1="celltype3" t2="celltype3">0.04</LAMBDA>
      <LAMBDA t1="celltype1" t2="empty">0.2</LAMBDA>
      <LAMBDA t1="celltype3" t2="empty">0.2</LAMBDA>
      <LAMBDA t1="celltype2" t2="celltype2">0.04</LAMBDA>
      <LAMBDA t1="celltype2" t2="empty">0.2</LAMBDA>
      <LAMBDA t1="celltype1" t2="celltype2">0.04</LAMBDA>
      <LAMBDA t1="celltype1" t2="celltype3">0.04</LAMBDA>
      <LAMBDA t1="celltype3" t2="celltype2">0.05</LAMBDA>
      <GAMMA t="celltype1">0.02</GAMMA>
      <GAMMA t="celltype2">0.02</GAMMA>
      <GAMMA t="celltype3">0.01</GAMMA>
 
    </potential>
  </potentials>
  <cycles>
    <cycle stage="all">
      <dispersion t="celltype1">0.8</dispersion>
      <dispersion t="celltype2">0.5</dispersion>
      <dispersion t="celltype3">0.8</dispersion>
      <speed t="celltype1">0.96</speed>
      <speed t="celltype2">0.8</speed>
      <speed t="celltype2">1.2</speed>
      <phase t="celltype1" a0i="1." a0f="1." reldiv="0.70" prop="0.5">1</phase>
      <phase t="celltype1" a0i="1." a0f="2." reldiv="0.70" prop="0.5">2</phase>
      <phase t="celltype2" a0i="1." a0f="1." reldiv="0.70" prop="0.5">1</phase>
      <phase t="celltype2" a0i="1." a0f="2." reldiv="0.70" prop="0.5">2</phase>
      <phase t="celltype3" a0i="1." a0f="1." reldiv="0.70" prop="0.5">1</phase>
      <phase t="celltype3" a0i="1." a0f="2." reldiv="0.70" prop="0.5">2</phase>
      <divisionshift t="celltype1">0.2 </divisionshift>
      <divisionshift t="celltype2">0.2</divisionshift>
      <divisionshift t="celltype3">0.2</divisionshift>
      <divisiondispersion t="celltype1">0.3</divisiondispersion>
      <divisiondispersion t="celltype2">0.3</divisiondispersion>
      <divisiondispersion t="celltype3">0.3</divisiondispersion>
      <divisiondispersionlimit t="celltype1">0.5</divisiondispersionlimit>
      <divisiondispersionlimit t="celltype2">0.5</divisiondispersionlimit>
       <divisiondispersionlimit t="celltype3">0.5</divisiondispersionlimit>
    </cycle>
  </cycles>
  <proteins>
    <constants stage="1">
      <deg1>0.9</deg1>
      <deg2>0.34</deg2>
      <k1>0.5</k1>
      <k2>0.125</k2>
    </constants>
    <constants stage="2">
      <deg1>0.7</deg1>
      <deg2>0.34</deg2>
      <k1>0.5</k1>
      <k2>0.12</k2>
    </constants>
    <protein species="protein1">
      <iconcentration t="celltype1" dispersion="1" stochastic="y">1.</iconcentration>
      <iconcentration t="celltype2" dispersion="1" stochastic="y">1.</iconcentration>
      <iconcentration t="celltype3" dispersion="1" stochastic="y">1.</iconcentration>
      <dynamics negval="n">((c-&gt;ctype)-1)-protein1</dynamics>
    </protein>
    <protein species="protein2">
      <iconcentration t="celltype1" dispersion="0" stochastic="n">0</iconcentration>
      <iconcentration t="celltype2" dispersion="0" stochastic="n">0</iconcentration>
      <iconcentration t="celltype3" dispersion="0" stochastic="n">1</iconcentration>
      <dynamics negval="n">function_hill(protein3,k1,1)-deg1*protein2</dynamics>
    </protein>
    <protein species="protein3">
      <iconcentration t="celltype1" dispersion="0" stochastic="n">2</iconcentration>
      <iconcentration t="celltype2" dispersion="0" stochastic="n">0</iconcentration>
      <iconcentration t="celltype3" dispersion="0" stochastic="n">2</iconcentration>
      <dynamics negval="n">function_hill_inverse(protein2,k2,2)-deg2*protein3+diffusion_protein3()</dynamics>
    </protein>
  </proteins>
</tissue>
<!--##PROTEIN_EDITOR_DATA##-->
